@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

/* Global CSS */

* {
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

header,
section,
footer {
    float: left;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

section:not(#home) {
    padding-top: 80px;
    padding-bottom: 80px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
}

h2 {
    text-transform: uppercase;
    color: #ec008a;
    font-size: 46px;
    margin-bottom: 10px;
}

h3 {
    text-transform: uppercase;
    color: #ec008a;
    font-size: 30px;
}

p {
    color: #171717;
    font-size: 22px;
    line-height: 32px;
    color: #171717;
    font-weight: 300;
    margin-top: 10px;
}

img {
    max-width: 100%;
}

.img-circle {
    border-radius: 50%;
}

.grey-bg {
    background: #dadada;
    min-height: 50px;
    float: left;
    width: 100%;
    padding-bottom: 80px;
}

.text-right {
    text-align: right;
}

.mt-60 {
    margin-top: 60px;
}

/* Moving banner in basket */
#see_also {
    height: 28vh;
}

#see_also .content {
    text-align: center;
    margin-top: 100px;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 50px;
}
/* sorting in products */
.sort {
    display: block;
    width: 25%;
    height: 40px;
    font-size: 1em;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c4c7c8;
    box-shadow: none;
    border-radius: 0;
    float: right;
}

/* Register / Login Form */
.input-container {
    display: flex;
    flex-direction: column-reverse;
}
.input-container>label {
    position: relative;
    top: 35px;
    left: 20px;
    padding: 0px 10px 0px 10px;
    text-align: left;
    letter-spacing: .5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    color: #333;
    background: #fff;
    white-space: nowrap;
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;

}

.input-container>input {
    display: block;
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 1em;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c4c7c8;
    box-shadow: none;
    border-radius: 0;

}

/* Line for moving lablel when input is clicked or there is something typed in it */
.input-container>input:focus+label,
.input-container>input:not(:placeholder-shown)~label {
    transform: scale(0.95) translateY(-27px) !important;
    left: 5px;
    color: #ec008a;
}

/* Header CSS */

header {
    height: 75px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    z-index: 1;
    background-color: white;
    padding-top: 5px;
}

header .logo {
    float: left;
    margin-top: -20px;
}

header nav {
    float: right;
}

header nav li {
    float: left;
    list-style: none;
    margin-left: 5px;
    width: 100px;
    padding: 12px 10px;
}

.register-login {
    padding: 3px 6px 3px 6px;
    font-size: small;
    margin-right: 5px;
    cursor: pointer;
}

header .container {
    padding: 10px;
}

.mobile-menu-icon {
    display: none;
    padding: 8px 12px;
    font-size: 30px;
    margin-right: 10px;
    color: rgb(165, 0, 63);
    cursor: pointer;
}

nav li a,
nav li {
    text-decoration: none;
    color: #ec008a;
    text-align: center;

}

nav li:hover>a {
    color: white;
}

nav li:hover {
    background-color: #ec008a;
}

.main-menu {
    float: left;
    padding: 0px;
}
.searchBox {
    float: right;
    background-color: white;
    border-radius: 40px;
    transition: 0.4s;
}
.searchBox:hover{
    background-color: #ec008a;
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
    background-color: #ec008a;
}

.searchButton {
    float: right;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: none;
    background-color: white;
    border-radius: 40px;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}
.searchInput:not(:placeholder-shown) {
    width: 240px;
    padding: 0 6px;
    background-color: #ec008a;
    border-radius: 40px;
    
}



/* Home CSS */

#slide-1 {
    background-image: url('../imgs/slider-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#slide-2 {
    background-image: url('../imgs/slider-bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

}

#slide-3 {
    background-image: url('../imgs/slider-bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

}


#home {

    height: 100vh;

}

#home .content {
    text-align: center;
    margin-top: 100px;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 100px;
}

#home h1 {
    font-size: 35px;
    text-shadow: 3px 4px 4px rgba(154, 150, 150, 1);
}

.btn-standard {
    color: rgb(230, 230, 230);
    font-size: 28px;
    padding: 12px;
    text-shadow: 4px 3px 6px rgba(30, 30, 30, 1);
    background: rgb(165, 0, 63);
    background: -moz-linear-gradient(62deg, rgb(165, 0, 63) 100%, rgb(250, 0, 20) 40%);
    background: -webkit-linear-gradient(62deg, rgb(165, 0, 63) 100%, rgb(250, 0, 20) 40%);
    background: -o-linear-gradient(62deg, rgb(165, 0, 63) 100%, rgb(250, 0, 20) 40%);
    background: -ms-linear-gradient(62deg, rgb(165, 0, 63) 100%, rgb(250, 0, 20) 40%);
    background: linear-gradient(332deg, rgb(165, 0, 63) 100%, rgb(250, 0, 20) 40%);
    -webkit-box-shadow: 4px 5px 12px rgba(50, 50, 50, 0.8);
    -moz-box-shadow: 4px 5px 12px rgba(50, 50, 50, 0.8);
    box-shadow: 4px 5px 12px rgba(50, 50, 50, 0.8);
    text-decoration: none;
}

.btn-standard:hover {
    background: rgb(126, 10, 54);
    ;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.col-1,
.col-2,
.col-3,
.col-4 {
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    box-sizing: border-box;
}

.row {
    width: 100%;
    float: left;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33%;
}

.col-4 {
    width: 25%;
}



/* Divider CSS*/

.divider {
    background-image: url('../imgs/separator-bg.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: top center;
    text-align: center;
    margin-bottom: 100px;
}

.divider p,
.divider h3 {
    color: white;
}

.divider h3 {
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.icon-content-wraper {
    text-align: center;
}

.icon-content-wraper p {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0 15px;
}

.icon-wraper {
    color: white;
    background: rgb(165, 0, 63);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 32px;
    font-size: 50px;
    box-sizing: border-box;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.7);
}

.icon-wraper-square {
    color: white;
    background: rgb(165, 0, 63);
    width: 120px;
    height: 120px;
    padding: 32px;
    font-size: 50px;
    box-sizing: border-box;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.7);
}

/* Footer CSS */

footer {
    min-height: 100px;
    background-color: rgb(165, 0, 63);
    padding: 10px 0;
}

footer p {
    color: white;
}

@media(min-height: 800px) {
    #home .container {
        bottom: 300px;
    }
}

@media(max-width: 1250px) {
    .container {
        width: 1000px;
    }
    .searchBox{
    position: absolute;
    bottom: 35px;
    left: 40%;
    }

}

@media(max-width: 1050px) {
    .container {
        width: 900px;
    }
}

@media(max-width: 950px) {
    .container {
        width: 100%;
        text-align: center;

    }

    .col-2,
    .col-3,
    .col-4 {
        width: 100%;
    }

    .text-right {
        text-align: center;
    }

    nav {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        float: right;
    }
    #menu-top{
        margin-top: 450px;
        z-index: 1;
    }


    header .container {
        padding: 0px;
    }

    header .logo {
        padding: 25px;
    }

    header {
        padding: 0;
    }

    /*for mobile menu */
    .opened {
        display: block;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;

    }

    .opened ul {
        padding-left: 0;
        width: 100%;
        margin: 0;
        border-top: 1px solid rgb(218, 218, 218);
    }

    .opened li {
        width: 100%;
        margin-left: 0;
        border-top: 1px solid rgb(218, 218, 218);
    }

    .opened a {
        display: block;
        font-size: 20px;
        padding: 20px 10px;
    }
    .searchBox{
        margin-top: 20px;
        position: unset;
    }
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px; 
    }
}